@using Microsoft.AspNetCore.Components.Forms

<p>State Increment: @State.Increment</p>

<EditForm Model="this" OnValidSubmit="HandleSubmit">
    <InputNumber @bind-Value="Increment" />
    <button type="submit" @onclick="HandleSubmit">
        Submit
    </button>
</EditForm>


@code {
    [CascadingParameter]
    public CounterState State { get; set; } = null!;
    [CascadingParameter]
    public CounterActions CounterActions { get; set; } = null!;

    public long Increment { get; set; }

    protected override void OnInitialized()
    {
        Increment = State.Increment;
    }

    public void HandleSubmit()
    {
        CounterActions.SetIncrementAmount(
            Increment
        );
    }
}