<p>State Count: @State.Count</p>
<p>State Increment: @State.Increment</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter]
    public CounterState State { get; set; } = null!;
    [CascadingParameter]
    public CounterActions CounterActions { get; set; } = null!;

    private void IncrementCount()
    {
        CounterActions.Trigger();
    }
}
