@page "/counter"
@page "/counterpage"

<h1>Counter Feature Page</h1>

<Blazor.Counter.Providers.CounterProvider>
    <Counter />
    <StateFullCounter />
</Blazor.Counter.Providers.CounterProvider>
