@page "/counter"
@page "/counterpage"

<h1>Counter Feature Page</h1>

<a href="/counter/settings">Counter Settings</a>

<Blazor.Counter.Providers.CounterProvider>
    <h2>Stateless Counter</h2>
    <Counter />
    <h2>Statefull Counter</h2>
    <StateFullCounter />
</Blazor.Counter.Providers.CounterProvider>
